*{
    font-family: georgia;
    margin: 30px;
}
body{
    background-color: aqua;

}
h1{
    padding: 15px;
    border: 10px;
    border-style: dotted;
    color: darkorchid;
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;
}
p{
    color: royalblue;
    text-align: justify;
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
    border-color: red;
    background-color: chartreuse;
    
}
img{
    width: 37%;
}